.cards{
background-color: #f0f0f0;
  padding: 5rem 0;


.card-background-1{
background: #dbe1e6;
}


.card-background-2{
  background: #dbe1e6;

}
  .title-cat-2{color: #bdcb38}
  .title-cat-1{color: #bdcb38}
}