<!-- Cards -->
<div class="container-fluid cards">
    <div class="container ">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static card">
                        <strong class="d-inline-block mb-2 card__title">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#" class="stretched-link" title="Continue reading">Continue reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static card card--background-blue">
                        <strong class="d-inline-block mb-2 card__title card--color-orange">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 card--color-orange">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <a href="#" class="stretched-link card--color-orange" title="Continue reading">Continue reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>