{% set params = {
    slides: []
}|merge(params|default({})) %}

{% set transform = {
    width: 1280,
    height: 720,
    position: "center-center",
    mode: "crop"
} %}

<div class="container-fluid slides py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for image in params.slides %}
                                <li class="glide__slide">
                                    <img class="img-fluid" src="{{ image.url(transform) }}" alt="{{ image.text }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>